form table{
    width:440px;
    border:2px solid gray;
    padding:5px;
    background:rgb(54, 52, 52);
    color:white;
}
input[type="text"]{
    width:100px;
    padding:5px;
    border:2px solid white;
}
input[type="button"]{
    width:70px;
    padding:5px;
    background-color: rgb(93, 117, 253);
    color:white;
}
#table{
    width:500px;
    text-align:center;
    border:2px solid gray;
    border-radius:10px;
    background-color:gray;
    padding:3px;
    display:none;
}
#table th{
    background-color: bisque;
    border-radius: 15px;
}
#table td{
    background-color: rgb(151, 212, 240);
    border-radius: 10px;
    padding:5px;
    
}
#table th[colspan='3']{
    background-color: rgb(238, 238, 162);
    padding:7px;
    border-radius: 11px;
}
#table td:nth-of-type(1){
    background-color: #efdcca;
}
